<div class="card text-center">
  <h2 class="card-header">Library Management System</h2>
  <div class="card-body">
    <h1 class="card-title">Login Your Self</h1>
      <div  class="center-block">
            <%=link_to "Login as Libraian", new_user_session_path , class:"btn btn-success btn-lg "%>
            <%=link_to "Login as Student", new_user_session_path , class:"btn btn-danger btn-lg "%>
        </div>

  </div>
</div>